*{
    z-index: 4;
    user-select: none;
    -webkit-user-drag: none;
}

body{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gamebereich{

    position: relative;
    height: 100vh;
    width: 80vw;
}

#hintergrund{

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.zuwenig{
    color: red;
}

/*Geld Anzeige*/
.geld-block{
    position: absolute;
    background-color: rgb(192, 131, 52);
    border-style: solid;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;

}

.geld-block>span{
    margin-left: 8px;
}

.geld-block>img{
    margin-top: -5px;
    margin-left: -2px;
}

#geld{
    font-size: 30px;
}

#sekadd{
    
    position: absolute;
    left: 50vw;

}

/*Der Anklick Button*/

#pizza-bild{
    
    align-self: center;
    height: 500px;
    width: 500px;
    
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

#pizza-bild:hover{
    transform: scale(1.05);
}

#pizza-bild:active{
    transform: scale(0.94);
}

.clickaddanzahl{
    
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
   
    font-size: 30px;
    font-family: cursive;
    color: white;
    position: absolute;
    z-index: 1000;
    height: 100px;
    width: auto;
    animation: animationclick 3s;
}

@keyframes animationclick {
    
    0% {
        transform: translate(0, 0); 
        opacity: 1; 
    }
    100% {
        transform: translate(0, -200px); 
        opacity: 0; 
    }


    }


/*Die Upgrades*/
.upgrades-window{
    position: relative;
    background-color: white;
    height: 100vh;
    width: 20vw;
    float: right;
    border-left-style: solid;
    text-align: center;
}
#alleups{
    position: relative; 
    z-index: 10; 
    height: 88vh; 
    width: auto; 
    overflow-y:auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    scrollbar-width: none;
}
.upgrade{
    border: solid 1px;
    position: relative;
    width: 350px;
    height: 100px;
    background: linear-gradient(rgb(230, 183, 113) 10% , rgb(207, 181, 157) 60%);
    margin: auto;
    margin-top: 30px;   
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 9px;
    overflow: hidden;
}

.upanzahl{
    z-index: 3;
    position: absolute;
    left: 50%;
    bottom: 0;
    font-family: cursive;
    font-size: 40px;
    opacity: 0.4;
}

.uupgrade{
    border: solid 1px;
    width: 350px;
    height: 100px;
    background-color: rgb(73, 73, 47);
    margin: auto;
    margin-top: 30px;   
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 9px;
    filter: grayscale(1);
    overflow: hidden;
}


.upgrade-name{
    height: auto;
    width: 40%;
    color: white;
}
.upgrade-name>h1{
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
}
.upgrade-preis{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    width: 40%;
    height: 35%;
    border-radius: 20px;
    border-style: ridge;
    transition: 0.3s;
    background-color: white;
    margin-left: 10px;
    align-content: center;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}
.upgrade-preis:hover{
    background-color: lightgray;
    transform: scale(1.07);
}
.upgrade-preis>span{
    font-family: 'Times New Roman';
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
}

.upgrade-img{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 17px;
    bottom: 15px;
    right: 30px;
}

.upgrade-preis-img{
    margin-top: auto;
    margin-bottom: auto;
}


.uupgrade-img{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 17px;
    bottom: 15px;
    right: 30px;
    filter: brightness(0);
}
#italien1{
 
    order: 2;
    background-color: green;
    position: absolute;
    height: 100%;
    width: 33%;
}
#italien2{
  
    order: 2;
    position: absolute;
    height: 100%;
    width: 33%;
}
#italien3{
    
    order: 2;
    right: 0;
    background-color: red;
    position: absolute;
    height: 100%;
    width: 33%;
}
#upgrade-div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    height: 11.51vh; 
    border-bottom: 4px solid black; 
    background-image: url("home.png");
}

@keyframes shake {
    0% { transform: skewX(-15deg) scale(1.07); }
    5% { transform: skewX(15deg) scale(1.07); }
    10% { transform: skewX(-15deg) scale(1.07); }
    15% { transform: skewX(15deg) scale(1.07); }
    20% { transform: skewX(0deg) scale(1.07); }
    100% { transform: skewX(0deg) scale(1.07); }
}

.shake{
    animation: shake 0.5s ease;
}

.versteckt{
    display: none;
}

#up0-img{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 2px;
    top: 10px;
    -webkit-user-drag: none;

}
#up1-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
}

#up2-img{
    position: absolute;
    justify-self: center;
    top: 5px;
    right: 2px;
    height: 100px;
    width: 90px;
}

#up3-img{
    position: absolute;
    justify-self: center;
    top: 10px;
    right: 5px;
    height: 100px;
    width: 100px;
}
