*{
    z-index: 4;
    user-select: none;
    -webkit-user-drag: none;
}

body{
    margin: 0;
    display: flex;
}

#gamebereich{

    position: relative;
    height: 100vh;
    width: 80vw;
    overflow: hidden;
    display: flex;
}

#hintergrund{

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#minigame{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 60%;
    width: 40%;
    left: -39%;
    bottom: 20%;

    background-color: burlywood;
    box-shadow: 0 0 10px black;
    transition: 0.5s;

    border: 4px solid black;
    border-radius: 10px;
}

#lockdiv{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#lockdiv #lockbutton{
    height: 20%;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#minigame.unlocked{
    background-image: url(Cookies/Ofeninnen.png);
    background-size: cover;
    background-position: center;
}

#minigame.zu:hover {
    transform: scale(1.1);
}

#minigame.locked::before{
    content: "Minigame locked";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red;
    font-weight: bold;
}

#minigamename{

    align-self: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

#minigame > button{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 20px;
    width: 20px;
    padding-bottom: 2px;

    z-index: 1000;

    font-size: 15px;
    font-weight: bold;

    border-radius: 50%;
    background-color: red;
    cursor: pointer;

}

#gamediv{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 85%;
    margin-top: 5%;
    justify-content: flex-start;
    align-self: center;

}

#slots{
    display: flex;
    height: 30%;
    width: 100%;
    justify-self: center;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #C1440E;
    border-radius: 10px;
}

#slots > img{

    align-self: center;
    height: 80%;
    width: 30%;

}

#gameinputs{
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 100%;  
    height: 30%;
    align-items: center;
    justify-content: center;
}
#gameinputs button:active{
    transform: scale(0.96);
    transition: 0.1s;
}

#gameinputs div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 28%;
    line-height: 0;
    color: white;
}

#gameinputs div h3{
    font-weight: bold;
    font-size: 14px;
}

#sloteinsatz{

    height: 20%;
    width: 90%;
    background-color: #e27d51;
    border: 3px solid gold;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #ffd70088;
    
}

#sloteinsatz:focus{
    outline: none;
}

#ausgabedisplay{
    position: absolute;
    top: -20%;
    left: 1%;
    height: 32px;
    width: 30%;
    font-size: 14px;
    background-color: rgb(246, 39, 39);
    border: 3px solid rgb(121, 1, 1);
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #ffd70088;
    color: white;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

#spinbutton{
    display: flex;  
    height: auto;
    width: 35%;
    border: none;
    border-radius: 50%;
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#spinbutton > img{
    border-radius: 50%;
    height: auto;
    width: 100%;
}

#spinbutton > p{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-size: 40px;
    color: white;
    position: absolute;
    font-weight: bold;
    text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.5);
}

#spinbutton:disabled{
    filter: grayscale(0.9);
    cursor: not-allowed;
}

.autospinon{
    transform: scale(1.1);
    filter: brightness(1.2);
}

.smallbutton{
    cursor: pointer;
    position: relative;
    display: flex;
    height: auto;
    width: 14%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    margin: 0;
}

.smallbutton > img{
    border-radius: 50%;
    height: auto;
    width: 100%;
}

.smallbutton > p{
    position: absolute;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    line-height: 100%;
    border-radius: 12px;
    z-index: 10;
    text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.5);
}

#slotsinfos{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 80%;
    justify-self: center;
    align-items: center;
    gap: 10px;
    transition: 0.7s;
}
#slotsinfos div{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
}
#slotsinfos div img{
    height: 60%;
    width: auto;
}
#slotsinfos div h2{
    margin: 0;
}

.zuwenig{
    width: 30px;
    color: red;
}

#cookieundgeld{

    position: absolute;
    height: 100vh;
    width: auto;    
    left: 50vw;

    padding-top: 5%;

    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    align-items: center;
    
}

/*Geld Anzeige*/
.geld-block{

    position: relative;
    background-color: rgb(192, 131, 52);
    border-style: solid;
    border-radius: 10px;
    height: 40px;
    width: 60%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    

}

.geld-block>span{

    margin-left: 8px;
}

.geld-block>img{
    position: absolute;
    height: 100%;
    width: auto;
    left: 10px;
}

#geld{
    font-size: 40px;
}

#eingabe{
    font-weight: bold;
}

/*Der Anklick Button*/

#pizza-bild{
    
    padding-top: 10%;
    height: 60vh;
    width: 33vw;

    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}

#pizza-bild:hover{
    transform: scale(1.05);
}

#pizza-bild:active{
    transform: scale(0.98);
}

.clickaddanzahl{
    
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
   
    font-size: 40px;
    font-family: cursive;
    color: white;
    position: absolute;
    z-index: 1000;
    height: 100px;
    width: auto;
    animation: animationclick 3s;
}

@keyframes animationclick {
    
    0% {
        transform: translate(0, 0); 
        opacity: 1; 
        filter: blur(0.5px);
    }
    100% {
        transform: translate(0, -200px); 
        opacity: 0;
        filter: blur(2px);

    }
    
    }

#evolution{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    left: 10%;
    bottom: -500px;
    transition: 0.4s;
}
#evolution:hover{
    bottom: -200px;
}
#evolution > img {
    
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -11;
}

#evolutionslockedbereich{
    margin: 50% auto;
    height: auto;
    width:  60%;
}

#evolutionlocked{
    
    
    align-content: center;
    text-align: center;
    font-size: 20px;
    margin: auto 0;
    height: 90px;
    width:  100%;
    
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;

}
.lockedtext{

    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#evoarea{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    text-align: center;
    margin: auto;
    height: 60%;
    width: 75%;
}
#evobuy{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.evos{
    position: relative;
    margin: 5px 3px;
    height: 50px;
    width: 50px;
    background-color: rgb(104, 104, 104);
    border: 8px solid rgb(237, 210, 175);
    border-style:ridge;
    cursor: pointer;
}
.evos img{
    display: flex;
    height: 100%;
    width: 100%;
}
.evos:hover{
    background-color: rgb(120, 120, 120);
    border-color: rgb(55, 54, 54);
}

#preisinfo{
    position: absolute;
    left: 80%;
    font-weight: 100;
    font-size: 20px;
}

#beschreibungevo{
    width: 65%;
}


/*Die Upgrades*/
.upgrades-window{
    position: relative;
    background-color: white;
    height: 100vh;
    width: 20%;
    float: right;
    border-left-style: solid;
    text-align: center;
}
#alleups{
    position: relative; 
    z-index: 10; 
    height: 88vh; 
    width: auto; 
    overflow-y:auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.upgrade{
    border: solid 1px;
    position: relative;
    width: 95%;
    height: 110px;
    background: linear-gradient(rgb(233, 178, 96) 10% , rgb(207, 181, 157) 60%);
    margin: auto;
    margin-top: 30px;   
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.upanzahl{
    z-index: 3;
    position: absolute;
    left: 50%;
    bottom: 0;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.6;
    z-index: 100;
}

.uupgrade{
    border: solid 1px;
    width: 95%;
    height: 110px;
    background-color: rgb(73, 73, 47);
    margin: auto;
    margin-top: 30px;   
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 9px;
    filter: grayscale(1);
    overflow: hidden;

}


.upgrade-name{
    height: auto;
    width: 40%;
    color: white;
}
.upgrade-name>h1{
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
}
.upgrade-preis{

    border-style: double;
    border: 2px solid rgb(121, 108, 34);
    color: rgb(27, 197, 27);
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    width: 40%;
    height: 35%;
    border-radius: 20px;
    border-style: ridge;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    align-content: center;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}
.upgrade-preis:hover{
    background-color: rgb(240, 240, 240);
    transform: scale(1.07);
}
.upgrade-preis:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
}
.upgrade-preis>span{
    font-family: 'Times New Roman';
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
}

.upgrade-img{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 17px;
    bottom: 15px;
    right: 30px;
}

.upgrade-preis-img{
    margin-top: auto;
    margin-bottom: auto;
}


.uupgrade-img{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 17px;
    bottom: 15px;
    right: 30px;
    filter: brightness(0);
}

.infos{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    position: absolute;
    border: 4px solid black;
    border-radius: 5px;
    background: linear-gradient(#fde2b0);
    background-color: #fde2b0;
    
    height: 140px;
    width: 380px;
    color: black;
}
.infos > div{
    position: relative;
    border-bottom: 1px solid black;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.infosbild{
    height: 50px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.infosevoname{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.infos  h3{
    text-decoration: underline;
    font-family: times;
    margin: 12px;
}
.infos  p{
    font-size: 14px;
    font-family: italic;
    margin-top: 10px;
    filter: blur(0.5px);
}

.infos  ul{
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
}

.infos  ul  li{

    text-align: left;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
}

.preisinfo{
    position: absolute;
    left: 80%;
    font-weight: 100;
    font-size: 20px;
}
#pizzabildinfo{
    position: absolute;
    right: 22%;
    height: 50%;
    width: auto;
}

/* Hintergrund von Upgrades */
#italien1{
 
    order: 2;
    background-color: green;
    position: absolute;
    height: 100%;
    width: 33%;
}
#italien2{
  
    order: 2;
    position: absolute;
    height: 100%;
    width: 33%;
}
#italien3{
    
    order: 2;
    right: 0;
    background-color: red;
    position: absolute;
    height: 100%;
    width: 33%;
}
#upgrade-div{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    height: 11.51vh; 
    border-bottom: 4px solid black; 
    background-image: url("home.png");
}

@keyframes shake {
    0% { transform: skewX(-15deg) scale(1.07); }
    5% { transform: skewX(15deg) scale(1.07); }
    10% { transform: skewX(-15deg) scale(1.07); }
    15% { transform: skewX(15deg) scale(1.07); }
    20% { transform: skewX(0deg) scale(1.07); }
    100% { transform: skewX(0deg) scale(1.07); }
}

/* Wackelanimation wenn man nicht genug geld hat */
.shake{
    animation: shake 0.5s ease;
}

.versteckt{
    display: none;
}

/* Die Upgrade Bilder */
#up0-img{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 2px;
    top: 10px;
    -webkit-user-drag: none;

}
#up1-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
}

#up2-img{
    position: absolute;
    justify-self: center;
    top: 5px;
    right: 2px;
    height: 100px;
    width: 90px;
}

#up3-img{
    position: absolute;
    justify-self: center;
    top: 0px;
    right: 5px;
    height: 120px;
    width: 100px;
}

#up4-img{
    position: absolute;
    justify-self: center;
    top: 10px;
    right: 5px;
    height: 80%;
    width: 38%;
}

#up5-img{
    position: absolute;
    overflow: hidden;
    top: 0;
    right: -20px;
    height: 100px;
    width: 170px;
}

#up6-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
}